<div class="modal-header">
    <span class="modal-title">{{ title }}</span>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form [formGroup]="inventoryForm">
        <div class="form-group div-form-group">
            <div class="label-container">
              <label for="Product">Product</label>
            </div>
            <select id="ProductId" class="form-control form-control-sm" formControlName="ProductId">
              @for (product of productList; track product.ProductId; let index = $index) {
                <option value="{{product.ProductId}}">{{product.ProductName}}</option>
              }
              @empty {
                <option [disabled]="true"> No available product.</option>
              }
            </select>
          </div>
          <div class="form-group div-form-group">
            <div class="label-container">
              <label for="Supplier">Supplier</label>
              <!-- @if (formUtils.isInvalid(productForm, 'Supplier')){
                <span class="span-info">Must be more than 5 characters</span>
              } -->
            </div>
            <input type="text" class="form-control form-control-sm" id="Supplier" formControlName="Supplier"  [class.is-invalid]="formUtils.isInvalid(inventoryForm, 'Supplier')">
          </div>
          <div class="form-group div-form-group">
            <div class="label-container">
              <label for="Stock">Stock</label>
                <span class="span-info">Default to 0 value</span>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="Stock" formControlName="Quantity"  [class.is-invalid]="formUtils.isInvalid(inventoryForm, 'Quantity')">
          </div>
          <div class="form-group div-form-group">
            <div class="label-container">
              <label for="UnitPrice">Unit price</label>
                <span class="span-info">Default to 0 value</span>
            </div>
            <input type="number" min="0" class="form-control form-control-sm" id="UnitPrice" formControlName="UnitPrice"  [class.is-invalid]="formUtils.isInvalid(inventoryForm, 'UnitPrice')">
          </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-custom-close" (click)="bsModalRef.hide()">{{ closeBtnName }}</button>
    <button type="button" class="btn btn-save" (click)="saveInventory()" [disabled]="!inventoryForm.valid">{{ saveBtnName }}</button>
  </div>

  <ng-template #toastTemplate> {{toastMessage}} </ng-template>