.span-info {
    font-size: 12px;
    color: #d90000;
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .div-form-group {
    margin-bottom: 5px;
  }
  .btn-save {
    background-color: #116A7B;
    color: #fff;
    border-radius: 0px;
  }

  .btn-custom-close{
    background-color: #a75858;
    color: #fff;
    border-radius: 0px;
  }