<div class="container-fluid mt-4">
    <div class="row">
        <h2 class="mb-4">Dashboard</h2>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <span class="font-weight-bold">Product Sold</span>
                    <p class="text-center"><span class="font-weight-bold card-total">300</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <span class="font-weight-bold">Product Sales</span>
                    <p class="text-center"><span class="font-weight-bold card-total">5,000</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <span class="font-weight-bold">New Product</span>
                    <p class="text-center"><span class="font-weight-bold card-total">10</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <span class="font-weight-bold">Active Products</span>
                    <p class="text-center"><span class="font-weight-bold card-total">690</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <span class="font-weight-bold">Low Stock Items (10 below)</span>
                    <p class="text-center"><span class="font-weight-bold card-total">35</span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <span class="font-weight-bold">Out of Stocks</span>
                    <p class="text-center"><span class="font-weight-bold card-total">11</span></p>
                </div>
            </div>
        </div>
    </div>
</div>