.container-fluid {
    padding: 20px;
  }
  
  .card {
    border-radius: 0px !important;
  }
  
  .card-body {
    background-color:#a3be91;

    p {
        font-size: 1.1rem;
      }
  }
  
  
  
  .text-center {
    text-align: center;
  }
  
  .font-weight-bold {
    font-weight: bold;
  }

  .card-total {
    font-size: 4rem;
  }