.container-fluid {
    padding: 20px;
  }
  
  .card {
    border-radius: 0px !important;
    border: 0px;
  }
  
  .card-body {
    background-color:#ffffff;
    cursor: default;

    p {
        font-size: 1.1rem;
      }
  }
  

  .text-center {
    text-align: center;
  }
  
  .font-weight-bold {
    font-weight: bold;
  }

  .card-total {
    font-size: 4rem;
    color: #008000;
  }

  .card-total.low-stock{
    color: #FF0000;
  }

  .card-title {
    color:#0F4D0F;
  }
