<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <a href="" class="menu-item" [routerLink]="['/dashboard']" data-bs-dismiss="offcanvas">Dashboard</a>
    </div>
    <div>
      <a href="" class="menu-item" [routerLink]="['/products']" data-bs-dismiss="offcanvas">Products</a>
    </div>
    <div>
      <a href="" class="menu-item" [routerLink]="['/inventory']" data-bs-dismiss="offcanvas">Inventory</a>
    </div>
    <div>
      <a href="" class="menu-item" [routerLink]="['/transaction']" data-bs-dismiss="offcanvas">Transaction</a>
    </div>
    <div>
      <a href="" class="menu-item" [routerLink]="['/home/reports']" data-bs-dismiss="offcanvas">Reports</a>
    </div>
  </div>
</div>