.transaction-wrapper{
  margin: 0 1rem 0 1rem;
}
.table-wrap {
    overflow-x: auto;

  table {
    min-width: 1000px !important;
    width: 100%;
    max-height: 400px !important;
    overflow-y: auto;

    thead {
      th {
        color: #fff;
        padding: 17px;
        text-align: left;
        font-weight: 400;
        background-color: #99b19c;
        font-size: 14px;
      }

      tr {
        th.photo {
          width: 7%;
        }

        th.details {
          width: 30%;
        }

        th.price {
          width: 8%;
        }
        th.quantity {
          width: 8%;
        }

        th.action {
          width: 5%;
        }
      }
    }
  }
}

tr{
  td {
    border: none;
    padding: 15px;
    font-size: 14px;
    background: #fff;
    border-bottom: 4px solid #f8f9fd;
    vertical-align: middle;
  }

  td.photo {
    width: 7%;
    vertical-align: middle;
  }

  td.details {
    width: 30%;
  }

  td.price {
    width: 8%;
  }

  td.quantity {
    width: 8%;
  }

  td.sub-total {
    width: 10%;
  }

  td.action {
    width: 5%;
    vertical-align: middle;

    button.close {
      padding: 0;
      background-color: transparent;
      border: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 20px;
      color: #FA5F55;
      font-weight: 900;
    }

    button.addto-cart {
      padding: 0;
      background-color: transparent;
      border: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 20px;
      color: #E97451;
      font-weight: 900;
      transition: color 0.3s ease, transform 0.3s ease; 

      &:hover {
        color: #FFBF00;
        transform: scale(1.1);
      }
    }
  }
}

tfoot {
  tr {
    td {
      .total-items{
        font-size: 14px;
        font-weight: 900;
        vertical-align: middle;
      }
    }
    
   
  }
}

.item {
  .title {
    font-size: 16px;
  }

  .description {
    font-size: 12px;
  }
}

.btn-place-order {
  background-color: #E97451;
  color: white; /* Text color */
  border: 0; 
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 0px;
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.btn-place-order:hover {
  background-color: #FFBF00;
}

.categories {
  cursor: pointer;
  border-radius: 10px;
  border : 1px solid #99b19c;
  font-size: 12px;
  padding: 3px 7px 3px 7px;
  margin-right: 5px;

  &:hover {
    background-color: #99b19c;
    color: white;
  }
}

.scrollable-tbody {
  display: block;
  max-height: 900px;
  overflow-y: auto;
  width: 100%;
  height: 900px;
}

.scrollable-tbody tr {
  width: 100%;
  table-layout: fixed;
}

.table thead, .table tfoot {
  display: table;
  width: 100%;
  table-layout: fixed;
}