<div class="container-xxl mt-5">
  <div class="row">
    <div class="row">
      <h2 class="mb-4 title">Products</h2>
      <div class="create-wrapper">
        <span class="span-create" (click)="createProduct()">Add new item</span>
        <span class="span-create" (click)="createBrand()">Add new brand</span>
        <span class="span-create" (click)="createCategory()">Add new category</span>
      </div>
      
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm"
          (input)="filterProducts()">
      </div>
    </div>
  </div>
  <div class="row transaction-wrapper">
    <div class="col-12 col-md-12">
      <div class="table-wrap">
        <table class="table">
          <thead class="thead-primary product-list">
            <tr>
              <th class="code">Code</th>
              <th class="product">Item</th>
              <th class="brand">Brand</th>
              <th class="category">Category</th>
              <th class="action">&nbsp;</th>
            </tr>
          </thead>
          <tbody class="scrollable-tbody">
            @for (product of filteredProducts; track product.ProductId; let index = $index) {
            <tr class="alert" role="alert">
              <td class="code">
                {{product.ProductCode}}
              </td>
              <td class="product">
                <div class="item">
                  <span class="title">{{product.ProductName}}</span>
                  <span class="description d-block">{{product.ProductDescription}}</span>
                </div>
              </td>
              <td class="brand">{{product.Brand}}</td>
              <td class="category">{{product.Category}}</td>
              <td class="action text-center">
                  <button class="btn-edit" (click)="editProduct(product.ProductId)" role="button">Edit</button> 
                  <button class="btn-delete" (click)="confirmDelete(product.ProductId)" role="button">Delete</button>
              </td>
            </tr>
            }
          </tbody>
          <tfoot>
            <tr>
              <td class="footer-title">Category</td>
              <td colspan="3">
                <ng-container *ngFor="let category of categoryList">
                  <span class="categories">{{category.Label}}</span>
                </ng-container>
              </td>
              <td class="total-items text-center"><span>All items: {{paginatedProducts.length}}</span></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #toastTemplate> {{toastMessage}} </ng-template>

<ng-template #deleteConfirmation let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Confirm Delete</h5>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this product?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef?.hide()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="deleteProduct()">Delete</button>
  </div>
</ng-template>